@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');


*{
  margin: 0;
  padding: 0;
}

.nav{
  z-index: 2;
  position: sticky;
  top: 0;
  height: 55px;
  background-color: #0c727f;
}
.nav ul{ 
  
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav ul li{
  font-size: 18px;
  list-style-type: none;
  margin: 23px;
  font-family: 'Lato';
}
.nav ul li a{
  color: aliceblue;
  text-decoration: none;
  transition: 0.25s;
}
.nav ul li a:hover{
  border-left: 2px solid whitesmoke;
  border-right: 2px solid whitesmoke;
  padding: 4px;
  border-radius: 6px;
  color: #f7f7f7;
  font-size: 20px;
  font-weight: 100;
}
.nav ul .search{
font-size: 17px;
font-family: 'Lato';
letter-spacing: 2px;
width: 35vw;
height: 23px;
margin-left: 25px;
border-radius: 8px;
padding: 12px;
opacity: 0.9;
}
.submit{
  width: 70px;
  height: 24px;
  margin-left: 20px;
  border-radius: 3px;
  font-size: 14px;
  font-family: 'Lato';
  
}
.submit:hover{
   color: rgb(59, 59, 57);
   background-color: rgb(211, 218, 216);
   font-size:15px;
   border-radius: 10px;
}
.content{
  display: flex;
  justify-content: center;
}
.content img{
  width: 100%;
  height: 650px;
  padding-left: 20px;
  padding-right: 20px;
}
.tag{
  bottom: 55px;
  position: relative;
  text-align: center;
  font-size: 40px;
  color: #f7f7f7;
  font-family: 'New Tegomin';
  letter-spacing: 2px;
  opacity: 0.8;
}
.middle{
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
}
.band{
  font-size: 34px;
  font-family:'Roboto Mono'; 
  letter-spacing: 3px;
  font-weight: lighter;
}
.para{
  font-size: 17px;
  width: 65vw;
  font-family: 'Montserrat';
  letter-spacing: 2px;
  font-weight: 500;
  padding: 5px;
}
.img{
  display: flex;
  align-items:center;
  justify-content: space-between;
  margin-top: 50px;
}
.img img{
  
  width: 255px;
  height: 200px;
  padding: 50px;
  
}
.tours{
  display: flex;
  flex-direction: column;
  width: auto;
  height: 750px;
  background-color: black;
  align-items: center;
  margin-top: 50px;

}
.tours h2{
  text-align: center;
  width: 100%;
  color: #f7f7f7;
  margin-top: 50px;
  font-family:'Roboto Mono';
  letter-spacing: 3px;
  font-weight: lighter;
  font-size: 40px;
}
.tours h4{
  text-align: center;
  color: #f7f7f7;
  margin-top: 25px;
  font-family: 'Lato';
  font-weight: lighter;
  font-style: italic;
  letter-spacing: 1px;
  opacity: 0.6;
  font-size: 16px;
}
.tours ul{
  margin-top: 35px;
  background-color: #f7f7f7;
  width: 60vw;
  height: 100px;
}
.tours ul li{
  font-family: 'Lato';
  font-size: 20px;
  font-weight: bold;
  padding: 4px;
  padding-left: 4px;
  font-style: italic;
}
.boxes{
  display: flex;
  width: 60vw;
  justify-content: space-between;
  margin-top: 25px;
}

.box1 img{
  width: 290px;
  height: 220px;
}
.box1 h3{
  background-color: #f7f7f7;
  color:black;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  height: 38px;
  font-family: 'Lato';
  
}
.box1 h5{
  background-color: #f7f7f7;
  color: black;
  padding-left: 10px;
  height: 28px;
 
}
.box1 p{
  width:290px;
  background-color:#f7f7f7;
  color: black;
  padding-left: 10px;
  box-sizing: border-box;
}
.box1 input{
  width: 290px;
  background-color: black;
  color: #f7f7f7;
  height: 40px;
}
.contact{
  display: flex;
  flex-direction: column;
  height: 310px;
  background-color: rgb(247, 247, 230);
}
.contact h2{
  font-family:'Roboto Mono';
  letter-spacing: 1px;
  font-weight: 400;
  margin-top: 40px;
  text-align: center;
  font-size: 34px;
}
.contact h5{
  text-align: center;
  margin-top: 30px;
  opacity: 0.7;
  font-size: 15px;
}
.contact h3{
  font-family:'Lato';
  margin-top: 20px;
  text-align: center;
  line-height: 38px;
  font-size: 20px;
  
  
}
.contact input{
  position: relative;
  text-align: center;
}
.footer{
  height: 155px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer h4{
  padding-top: 15px;
  color: #f7f7f7;
  text-align: center;
}
.footer h6{
  padding-top: 10px;
  color: #f7f7f7;
  text-align: center;
}
.footer div ul{
  color: aliceblue;
  margin-top: 9px;
}

.footer div ul li{
  display: inline-block;
  margin: 8px;
}

